@model MVCApp.Models.CrearMensajeModels
@{
    if (User.IsInRole("SuperAdministrador")) {
        Layout = "~/Views/Shared/_SuperLayout.cshtml";
    }
    if (User.IsInRole("Administrador")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    if (User.IsInRole("Empleado")) {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }
    ViewBag.Title = "Redactar Mensaje";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Mensajería", "", "fa fa-envelope"), new Crumb("Redactar Mensaje")
    });
}

<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Index","Mensajes")" class="btn btn-primary btn-block margin-bottom">Volver a Bandeja de entrada</a>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Carpetas</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="mailbox.html"><i class="fa fa-inbox"></i> Bandeja de entrada <span class="label label-primary pull-right">12</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Bandeja de salida</a></li>
                </ul>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Redactar Nuevo Mensaje</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="destinatario" class="col-sm-2 control-label">Destinatario </label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.Destinatario, new SelectList(Model.Usuarios, "Email", "NombreCompleto"), new { @class = "form-control", @id = "destinatario"})
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Asunto">
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <textarea id="compose-textarea" class="form-control" style="height: 300px">
                            <h1><u>Heading Of Message</u></h1>
                            <h4>Subheading</h4>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee</p>
                            <ul>
                                <li>List item one</li>
                                <li>List item two</li>
                                <li>List item three</li>
                                <li>List item four</li>
                            </ul>
                            <p>Thank you,</p>
                            <p>John Doe</p>
                        </textarea>
                    </div>
                </div><!-- /.box-body -->

            
            <div class="box-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Enviar</button>
            </div><!-- /.box-footer -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts{
    @*Scripts propios de la pagina para renderizar*@
    <!-- Page Script -->
    <script>
        $(function () {
            //Add text editor
            $("#compose-textarea").wysihtml5();
        });
    </script>

    <!-- SlimScroll -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
}
@section especificos{
    @*CSS especifico de esta pagina*@
    <!-- iCheck -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/AdminLTE/plugins/iCheck/flat/blue.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <style>
        iframe {
            width: 100%!important;
        }
    </style>
}