@model MVCApp.Models.ProductoModels
@{
    if (User.IsInRole("SuperAdministrador")) {
        Layout = "~/Views/Shared/_SuperLayout.cshtml";
    }
    if (User.IsInRole("Administrador")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    if (User.IsInRole("Empleado")) {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }
    ViewBag.Title = "Crear Pedido";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Gestionar Pedidos", "", "fa-users"), new Crumb("Crear Pedido")
    });

}
<div id="error" style="display:none;" class="row">
    <div class="alert alert-danger alert-dismissible" id="div-error" style="margin:20px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>

    </div>
</div>

<div id="success" style="display:none;" class="row">
    <div id="div-success" class="alert alert-success alert-dismissible" style="margin:20px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Pedido realizada!</h4>
        Pedido realizado con éxito! Pendiente de confirmación!
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Nueva pedido</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label" for="idProducto">Producto</label>
                                <div class="col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model => model.SelectedProducto, new SelectList(Model.productos, "Referencia", "Nombre"), new { @class = "form-control col-xs-12 js-example-basic-single", @id = "idProducto" })
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label" for="cantidad">Cantidad</label>
                                <div class="col-sm-8 col-xs-12">
                                    <input type="number" id="cantidad" class="form-control col-xs-12" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <button id="add" type="submit" class="btn btn-info" style="margin-bottom:5px">Añadir</button>
                        <br />
                    </div>

                </div>
                <table id="example3" class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Cantidad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                    <tfoot>
                        <tr>
                            <th>Referencia</th>
                            <th>Cantidad</th>
                            <th>Acción</th>
                        </tr>
                    </tfoot>
                </table>

            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary" id="pedir"><i class="fa fa-envelope-o"></i> Hacer Pedido</button>
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts {
    @*NOTE: These should NOT be used in a production situation
        They do contains useful snippets on how to setup charts*@
    <!-- SlimScroll -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/JSON.js" type="text/javascript"></script>
    <script src="~/Scripts/pedidos.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminLTE/plugins/select2/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-example-basic-single").select2();
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
   
}
@section especificos{
    <!--select2-->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/select2/select2.min.css">
}
