@model IEnumerable<MVCApp.Models.LineaPedidosModels>
@{
    if (User.IsInRole("SuperAdministrador")) {
        Layout = "~/Views/Shared/_SuperLayout.cshtml";
    }
    if (User.IsInRole("Administrador")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    if (User.IsInRole("Empleado")) {
        Layout = "~/Views/Shared/_EmpleadoLayout.cshtml";
    }
    ViewBag.Title = "Pedidos";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Gestionar Pedidos", "", "fa-random"), new Crumb("Detalles de pedido")
    });

}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Pedidos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover table-striped dataTable">
                    <thead>
                        <tr>
                            <th>Referencia Producto</th>
                            <th>Nombre Producto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.referencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cantidad)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Referencia Producto</th>
                            <th>Nombre Producto</th>
                            <th>Cantidad</th>
                        </tr>
                    </tfoot>
                </table>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section scripts {
    @*NOTE: These should NOT be used in a production situation
        They do contains useful snippets on how to setup charts*@
    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="~/Scripts/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/AdminLTE/plugins/datatables/dataTables.responsive.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <!-- page script -->
    <script>
        $(document).ready(function () {
            $('#example2').DataTable({
                responsive: true,
                autoWidth: false,
                paging: true,
                "language": {
                    "url": "../../Scripts/AdminLTE/plugins/datatables/datatables-sp.js"
                }
            });
        });
    </script>
}
@section especificos{
    <!-- DataTables -->
    <style>
        .form-control.input-sm {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/AdminLTE/plugins/datatables/dataTables.responsive.css">

}


